.git
.gitignore
Dockerfile
README.md
LICENSE
.gocache/
.gomodcache/
.DS_Store
Thumbs.db
bin/
dist/
data/
server
openapi.yaml
cmd/server/web/dist/
ui/node_modules/
charts/
*.db
*.log
.vscode/
.idea/
docs/
artifacthub-repo.yml